body {
  background-color: #faf1e5
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.video {
  display: flex;
  flex-direction: column;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 60% !important;
  margin: auto;
}

.pdf {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 2000px;
}

.navbar-logo {
  padding-top: 100px;
  cursor: pointer;
  width: 150px;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: #fff;
  padding: 3px 20px;
  font-weight: 500;
  border-radius: 20px;
  border: 2px solid #1c574e;
  background-color: #1c574e;
  white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
  color: #fff;
  background-color: #89b698;
  border: 2px solid #89b698;
}

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #eb9922;
  transition: all 0.3s ease-in-out;
}

.navbar-menu {
  padding-top: 90px;
}

.show {
  display: block;
}

.btn {
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 12px 16px;
  background-color: #f8f5ed;
  cursor: pointer;
  font-size: 20px;

}

.btn:hover {
  background-color: #426cc2;
}

.btn.active {
  background-color: #9E8DBE;
  color: white;
}

.hidden {
  grid-column: 1;
  grid-row: 4;
}

body {
  margin: 0;
  font-size: 1.3rem;
  color: #f7f4ed;
  display: flex;
  flex-direction: column;
  font-family: neulis-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 6rem;
  text-align: center;
  padding-top: 100px;
  line-height: 0px;
  color: #99d2c6;
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  padding: 45px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 5px;
  line-height: 50px;
  text-align: center;
  color: #9E8DBE;
  font-family: "neulis-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.5rem;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 25px;
  text-align: center;
  color: #1c574e;
  font-family: "neulis-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home-key {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 200px;
}

.Art-direct {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin: auto;
  margin-left: 20px;
}

.art-cover {
  padding-bottom: 20px;
  padding-left: 20px;

}

.peta-logo {
  padding-top: 200px;
  width: 50%;
  margin: auto;
}

.about-container {
  display: grid;
  grid-template-columns: 990px 900px 30px 50px;
  grid-template-rows: 950px 300px 350px;
  gap: 70px;
  padding-left: 200px;

}

.motel {
  grid-column: 1/span 2;
  width: 1500px;
}

.pdf{
  width:1500px;
}

.gallery-wall {
  margin: auto;
  grid-column: 2;
  grid-row: 1;
  width: 170px;
  padding: 200px;
  gap: 20px;
  align-items: center;
  height: 1500px;
  overflow-y: auto;
  padding-left: 400px;
}

.frame img {
  max-width: 200%;
  max-height: 200%;
  object-fit: cover;
}

.resume {
  font-family: "ohno-blazeface", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #89b698;
  font-size: 2rem;
  grid-column: 1;
  grid-row: 2;
  padding-left: 560px;
}

a {
  color: #9E8DBE;
}

.frame {
  filter: drop-shadow(-10px -10px 7px rgba(0, 0, 0, 0.3))
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c9b2ea;
  color: white;
  margin-top: 200px;
  text-align: center;
  font-family: "ohno-blazeface", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.design-container {
  overflow: hidden;
  display: inline;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 320px;
}

.footer-img {
  padding-left: 5px;
  padding-right: 5px;
  width: 20px;
}

.design-button {
  justify-content: center;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 10px;
}

.filterDiv {
  float: left;
  color: #f8f5ed;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.design-icon {
  border-radius: 10px;
  display: block;
  margin-right: 30px;
}

.show {
  display: block;
}

.btn {
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  color: #f8f5ed;
  border-radius: 30px;
  outline: none;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  background-color: #89b698;
  cursor: pointer;
  font-size: 25px;

}

.btn:hover {
  color: black;
  background-color: #99d2c6;
}

.btn.active {
  background-color: #1c574e;
  color: white;
}

.design-label {
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  border: none;
  font-size: 1.3rem;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: -1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #99d2c6;
  color: #1c574e;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.design-card {
  display: block;
  position: relative;
  text-decoration: none;
}

.filterDiv:hover .design-label {
  opacity: 1;
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.scroll-gallery-wrapper {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 2000px;
  overflow: visible;
}

.scroll-gallery-wrapper-food {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 2000px;
  overflow: visible;
}

.gallery-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
}


.gallery-item {
  width: 900px;
  height: 950px;
  object-fit: contain;
}

.scroll-btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 80px;
  padding: 5px;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 10%;
  color: #1c574e;
}

.scroll-btn:hover {
  color: #fff;
}

.scroll-btn.left {
  left: 5px;
}

.scroll-btn.right {
  right: 5px;
}

.gallery-items {
  position: relative;
}

.gallery-item {
  height: 1080px;
}

.text-block {
  position: sticky;
  bottom: 20px;
  right: 20px;
  color: #1c574e;
  padding-left: 20px;
  padding-right: 20px;
}

.item-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto;
  justify-content: center;
  padding-bottom: 300px;
  padding-top: 30px;
  gap: 1.5rem;
}

.nav-btn-prev {
  background-color: #eb9922;
  color: white;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
}

.nav-btn-next {
  background-color: #eb9922;
  color: white;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
}

.nav-btn-back {
  background-color: #eb9922;
  color: white;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
}

.column {
  float: left;
  margin: auto;
  width: 15%;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  padding: 5px;
  padding-bottom: 20px;
  width: 400px;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
  width: 2000px;
  margin: auto;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  opacity: 0;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
  font-size: 35px;
  cursor: pointer;
}

.row-engage {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 4px;
}

/* Create four equal columns that sits next to each other */
.column-engage {
  flex: 25%;
  max-width: 23%;
  padding: 0 4px;
}

.column-engage img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.engage-container {
  padding-left: 150px;
}

/* Create four equal columns that sits next to each other */
.row-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 4px;
}

.column-edit {
  flex: 25%;
  max-width: 23%;
  padding: 4px 4px 4px 4px;
}

.column-edit img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* disney art */
.row-may {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
  gap: 90px;
}

.column-may {
  flex: 25%;
  max-width: 23%;
  padding: 10px 580px 10px 10px;
}

.column-may img {
  margin-top: 8px;
  vertical-align: middle;
  width: 200%;
}

/*centennial*/
.img-comp-container {
  position: relative;
  height: 900px;
  /*should be the same height as the images*/
  padding-bottom: 200px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  padding-left: 300px;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #1c574e;
  opacity: 0.7;
  border-radius: 50%;
}

.gallery-container-cen {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 10px;
}

.carnival {
  padding-top: 900px;
}

.scroll-gallery-wrapper-cen {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 2000px;
  overflow: visible;
}

body,
html {
  height: 100%;
}

.bgimg {
  height: 100%;
  margin: auto;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}

.gallery-item-cen {
  height: 1080px;
  width: 1920px;
}

.text-block-cen {
  position: sticky;
  right: 20px;
  color: #1c574e;
  padding-left: 20px;
  padding-right: 20px;
}

#myBtnTop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #eb9922;
  color: #555;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
}

#myBtnTop:hover {
  background-color: #9E8DBE;
}



/* Nav Bar Responsive */
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }

  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 130px;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    background-color: #faf1e5;
  }

  .navbar-container .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
    z-index: 999;
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


@media (max-width: 2000px) {
  .home-key {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

}


@media (max-width: 600px) {
  .home-key {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 90px;
  }

  .navbar-logo {
    width: 90px;
    padding-top: 40px;
  }

  .key {
    width: 300px;
  }

  .about-container {
    display: grid;
    margin: auto;
    grid-template-columns: 0px 170px 170px 0px;
    grid-template-rows: 300px 200px 100px 10px;
    gap: 3px;
    padding: 0;
  }

  .motel {
    width: 350px;
    grid-column: 1/ span 2;
    grid-row: 1 / span 2;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    padding-left: 0;
    line-height: 50px;
    margin: auto;
  }

  h2 {
    margin: auto;
    padding: 15px 15px 15px 15px;
    line-height: 20px;
    font-size: 1.1rem;
  }

  h3 {
    line-height: 20px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }


  .hidden {
    height: 300px;
    grid-row: 2;
    overflow: visible;
  }

  .design-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
  }

  .design-icon {
    width: 300px;
    margin: auto;

  }

  .design-label {
    opacity: 100%;
    padding-top: 5px;
    line-height: 20px;
    font-size: 0.7rem;
  }

  .design-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
  }

  .btn {
    padding: 5px 5px 5px 5px;
    font-size: 1rem;
    line-height: 1rem;
  }

  .gallery-wall {
    position: sticky;
    width: 100px;
    height: 350px;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 200px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    overflow: scroll;
  }

  .resume {
    grid-column: 2/span 2;
    font-size: .5rem;
    grid-row: 1;
    padding-top: 230px;
    padding-left: 130px;
  }

  .Art-direct {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-right: 10px;
  }

  .art-cover {
    width: 350px;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .carnival {
    padding-top: 450px;
  }

  .scroll-btn {
    opacity: 0%;
  }

  .gallery-items {
    position: relative;
  }

  .gallery-item {
    height: 400px;
    width: 250px;
  }

  .scroll-gallery-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 405px;
    overflow: visible;
  }

  .text-block {
    position: sticky;
    right: 20px;
    color: #1c574e;
    font-size: .8rem;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 5px;
  }

  .column {
    float: inline-start;
    padding-right: 80px;
    margin: auto;
    width: 11%;
  }

  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    padding-bottom: 20px;
    width: 120px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: inline;
    width: 300px;
    margin: auto;
  }

  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    opacity: 0;
    font-size: 20px;
  }

  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
  }

  .img-comp-container {
    height: 400px;
    padding-bottom: 10px;
  }

  .cen-img {
    width: 600px;
    height: 500px;
  }

  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    padding-left: 5px;
    max-width: 380px;
    height: 500px;
  }

  .img-comp-img img {
    display: block;
    max-height: 500px;
    max-width: 500px;
    padding-left: 5px;
  }

  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 15px;
    height: 15px;
    background-color: #1c574e;
    opacity: 0.7;
    border-radius: 50%;
  }

  .gallery-container-cen {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .scroll-gallery-wrapper-cen {
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    max-height: 500px;
    max-width: 390px;
    overflow: visible;
    padding-top: 450px;
  }

  .gallery-item-cen {
    height: 190px;
    width: 300px;
  }

  .text-block-cen {
    position: sticky;
    right: 20px;
    color: #1c574e;
    padding-left: 20px;
    padding-right: 20px;
  }

  .column-engage {
    flex: 100%;
    max-width: 93%;
  }

  iframe {
    width: 60% !important;
    height: 100%;
  }

  .pdf{
    max-width: 402px;
  }


  .column-engage img {
    vertical-align: middle;
    width: 100%;
  }

  .engage-container {
    padding-left: 25px;
  }

  .column-edit {
    flex: 100%;
    max-width: 93%;
  }

  .column-edit img {
    vertical-align: middle;
    width: 100%;
  }

  .edit-container {
    padding-left: 25px;
  }

  /* disney art */
  .row-may {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1px;
  }

  .column-may {
    flex: 25%;
    max-width: 23%;
    padding: 5px;
  }

  .column-may img {
    width: 420%;
  }

  .item-nav {
    padding-top: 200px;
  }
}

@media (max-width: 932px) {
  .home-key {
    display: inline;
    padding-left: 50px;
    top: 10%;
  }
}